@charset "utf-8";




/*vänster kolumn*/

#kol1 {
    
width: 67%;
opacity: 0.6;
}

.sort {
    /*definerar de olika sorterna*/
    margin: auto;
    padding: 20px;
    font-size: 20px;
    text-align: left;
    Background-color: whiteSmoke;
    margin-bottom: 20px;


}

.sort ol  {
    list-style-type: none;
    margin: 5px;
    padding: 5px;

}

.beskriv {
    /*definerar beskrivningen av sorterna (p) */
    padding: 3px;
    margin-left: 20px;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    padding-top: 0px;
}


.definera {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    font-size: 25px;
}



/*  höger kolumn */

#kol2 {
width: 33%;
font-size: 18px;
}

/*bilderna på höger sida*/

#products {
    max-width: 300px;
}

#butik {
    max-width: 300px;
}


#tre {
    text-decoration: none;
    color: FireBrick;
}

/*media queries specifikt för "sortiment" */

@media only screen and (max-width: 470px) {
    

    .columns  {
        display: block;
    }
    
    #kol1 {
        width: 100%;
        display: block;
        text-align: center;
        margin: 0px auto;
        padding: 0px;
        float: none;
        background: none;       
    }
    
    #kol2 {
        width: 100%;
        display: block;
        text-align: center;
        margin: 0px auto;
        padding: 0px;
        padding-top: 20px;
        float: none;
    }
}   







  
 
    