@charset "utf-8";

#beskriv p {
    /* text stil för paragraf */
     font-family: 'Alegreya Sans SC', sans-serif;
     max-width: 500px;
     padding-top: 60px;
     padding-left: 10px;
     padding-right: 10px;
     margin: 0 auto;
     font-size: 1.4em;
     text-align: left;
}

#ett {
    /* länk till "sortiment" */
    text-decoration: none;
    color: FireBrick;   
}

.butik { 
    margin-top: 10px;
}

.butik img {
    max-width: 100%;
    height: auto;
    width: 25%;
    margin: 0px auto;
    display: inline-block;
    padding: 2%;
    padding-left: 5%;
    opacity: 0.6;
}

